* {

    width: 100%;

}

 

.top-wrapper {

    position: relative;

}

 

.top-wrapper img {

    opacity: 0.7;

}    

    

 

.top-message {

    color: #2c4b79;

    font-weight: normal;

    text-align: center;

    font-family: "arial";

    position: absolute;

    top: 35%;

    left: 0;

}

 

.main-wrapper {

    font-family: "Tahoma";

}

 

.main-wrapper h3 {

    text-align: center;

    margin: 0 auto;

    padding-top: 20px;

    font-family: "arial";

    padding-bottom: 30px;

    color: #D0364F;

    font-size: 25px;

}

 

.box {

    margin-right: 10px;

    padding: 10px;

    margin-bottom: 10px;

    color: white;

    border-radius: 5px;

    display: inline-block;

}

 

.title {

    font-size: 20px;

    border-bottom: 1px solid white;

    width: 150px;

}

 

.picture {

    float: right;

    box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);

    margin: 0 15px 15px 30px;

}

 

.picture1 {

    height: 160px;

    width: 160px;

}

 

.picture2 {

    height: 130px;

    width: 300px;

}

 

.picture3 {

    height: 150px;

    width: 150px;

}

 

.contents p {

    float: left;

}

 

.box1 {

    background-color: rgb(36, 97, 160, 0.6);

}

 

.box2 {

    background-color: rgb(208, 54, 79, 0.6);

}

 

.box3 {

    background-color: rgb(26, 67, 109, 0.7);

}

 

footer {

    height: 30px;

    font-family: "arial";

    background-color: rgb(96, 202, 173);

    color: white;

    line-height: 30px;

    padding-left: 5px;

}

 

.clear {

    clear: left;

}

 

body {

    max-width: 1170px;

    width: 100%;

    background: linear-gradient();

}

 


